ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: #55D6BE;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: #7DC6B6;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

H1, H2 {
font-size: 36px;
}

p {
font-size: 19px;    
color: #869ab8ff;
}

main { 
margin:70px;
padding: 30px; 
display: grid; 
grid-template-columns: 60% 40%;    
}

content {
margin:60px;
padding: 20px;
display: grid;
grid-template-columns: 30% 30% 30%;
justify-content: space-between;
}

.button1 {  
background-color: #55D6BE;
color: white;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
border-radius: 5px;
}

.button2 {  
background-color: #D5F5EF;
color:  black;
border: none;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
border-radius: 5px;
}

footer {
margin:60px;
padding: 20px; 
display: inline-flex;
justify-content: space-between;    
}


label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #fdfdfd;
}